body {
    margin: 0;
    padding: 0;
}

.navbar {
    background: pink;
    display: flex;
    justify-content: space-between;
    padding: 30px;
}

.logo {
    font-weight: bold;
    font-size: 30px;
}

.right {
    display: flex;
    width: 200px;
    justify-content: space-between;
}
